@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  --primary: #fe0000;
  --primary-hover: #dd0000;
  --dark: #000000;
  --dark-hover: #414141;
  --transition: 0.2s linear;
  --font: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.line {
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  font-family: var(--font);
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 24px 65px;
  font-size: 18px;
  background-color: var(--primary);
  border: 0;
  outline: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  transition: background 0.2s linear;
  width: fit-content;
  &:hover {
    background-color: var(--primary-hover);
  }
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.section-line {
  font-size: 35px;
  color: white;
  background-color: var(--primary);
  font-family: var(--font);
  padding: 45px 35px;
  display: flex;
  justify-content: end;
  position: absolute;
  left: -100vw;
  right: 0;
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.section-inner {
  display: flex;
  gap: 60px;
  align-items: center;
  padding-top: 250px;
  .col {
    width: 50%;
    img {
      width: 100%;
    }
  }
}

.title {
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
}

.subtitle {
  font-size: 20px;
  line-height: 150%;
  margin-top: 25px;
}

.red {
  color: var(--primary);
}

.list-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 25px;
  .list-item {
    font-size: 20px;
    font-family: var(--font);
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 35px;
    .dot {
      width: 5px;
      height: 5px;
      background-color: var(--dark);
      border-radius: 50%;
    }
  }
}
