@keyframes bgAnimation {
  0% {
    opacity: 0;
    background-size: 100%;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-size: 130%;
  }
}

.main {
  margin-top: 150px;
  position: relative;
  .main-title {
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .main-subtitle {
    font-size: 18px;
    text-transform: uppercase;
    font-size: 16px;
    width: 250px;
    margin-top: 35px;
  }
  .main-arrow {
    margin-top: 75px;
  }
  .main-bg {
    position: absolute;
    right: 0;
    top: -25px;

    z-index: -1;
    width: 55%;
    height: 350px;
    background-image: url("../../../../assets/style/components/main/images/bg.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation: bgAnimation 1.5s ease forwards;
    opacity: 0;
    transition: opacity 0.3s linear;
    animation-delay: 0.7s;
  }
}

@media (max-width: 850px) {
  .main .main-title {
    font-size: 48px;
  }

  .main {
    margin-top: 100px;
    margin-bottom: 400px;
    .main-bg {
      width: 100%;
      top: 380px;
      height: 300px;
    }
  }
  .main .main-bg {
    height: 250px;
    top: 380px;
  }
}

@media (max-width: 650px) {
  .main .main-title {
    font-size: 35px;
  }
  .main .main-subtitle {
    font-size: 14px;
    max-width: 200px;
  }
}
@media (max-width: 400px) {
  .main .main-title {
    font-size: 28px;
  }
  .main .main-arrow {
    width: 40px;
  }
  .main .main-bg {
    height: 150px;
    top: 330px;
  }
  .main {
    margin-top: 100px;
    margin-bottom: 300px;
  }
}
