.map {
  margin-top: 150px;
  transform: translateY(5px);
}

.footer {
  background-color: #111111;
  width: 100%;
  .footer_inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    font-family: var(--font);
    padding: 50px 0;
    .column {
      ul {
        list-style: none;

        li {
          color: white;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .map {
    height: 500px;
  }
  .footer .footer_inner {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 45px;
  }
}
@media (max-width: 550px) {
  .map {
    height: 300px;
  }
}
@media (max-width: 450px) {
  .footer .footer_inner {
    grid-template-columns: 1fr;
  }
}
