@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
  --primary: #fe0000;
  --primary-hover: #dd0000;
  --dark: #000000;
  --dark-hover: #414141;
  --transition: 0.2s linear;
  --font: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.line {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--font);
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 24px 65px;
  font-size: 18px;
  background-color: var(--primary);
  border: 0;
  outline: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  transition: background 0.2s linear;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  background-color: var(--primary-hover);
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.section-line {
  font-size: 35px;
  color: white;
  background-color: var(--primary);
  font-family: var(--font);
  padding: 45px 35px;
  display: flex;
  justify-content: end;
  position: absolute;
  left: -100vw;
  right: 0;
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.section-inner {
  display: flex;
  gap: 60px;
  align-items: center;
  padding-top: 250px;
}
.section-inner .col {
  width: 50%;
}
.section-inner .col img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.title {
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
}

.subtitle {
  font-size: 20px;
  line-height: 150%;
  margin-top: 25px;
}

.red {
  color: var(--primary);
}

.list-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 25px;
}
.list-wrapper .list-item {
  font-size: 20px;
  font-family: var(--font);
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  gap: 35px;
}
.list-wrapper .list-item .dot {
  width: 5px;
  height: 5px;
  background-color: var(--dark);
  border-radius: 50%;
}

@media (max-width: 900px) {
  .section-line {
    font-size: 25px;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 1000px) {
  .title {
    font-size: 35px;
  }
  .subtitle {
    font-size: 16px;
  }
  .list-wrapper .list-item {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .section-inner {
    gap: 45px;
    flex-direction: column;
  }
  .section-inner .col {
    width: 100%;
  }
  .section-inner .col img {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .section-line {
    font-size: 20px;
  }
  .section-line__text {
    width: 200px;
  }
  .section-inner .col img {
    height: 200px;
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 28px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 50px 0 50px;
}
.header .right {
  display: flex;
  align-items: center;
}
.header .right .header-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 45px;
  margin-right: 35px;
}
.header__list-item {
  font-size: 16px;
  font-family: var(--font);
  text-transform: uppercase;
  transition: color var(--transition);
}
.header__list-item:hover {
  color: var(--dark-hover);
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
}
.burger .line {
  border-top: 2px solid var(--dark);
  width: 34px;
}

@media (max-width: 1400px) {
  .header {
    margin: 25px 5% 0 5%;
  }
  .header-list {
    display: none !important;
  }
  .contact-btn {
    display: none;
  }
  .burger {
    display: flex;
  }
}
@media (max-width: 500px) {
  .logo {
    width: 150px;
  }
}
@-webkit-keyframes bgAnimation {
  0% {
    opacity: 0;
    background-size: 100%;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-size: 130%;
  }
}
@keyframes bgAnimation {
  0% {
    opacity: 0;
    background-size: 100%;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-size: 130%;
  }
}
.main {
  margin-top: 150px;
  position: relative;
}
.main .main-title {
  font-size: 64px;
  font-weight: 500;
  text-transform: uppercase;
}
.main .main-subtitle {
  font-size: 18px;
  text-transform: uppercase;
  font-size: 16px;
  width: 250px;
  margin-top: 35px;
}
.main .main-arrow {
  margin-top: 75px;
}
.main .main-bg {
  position: absolute;
  right: 0;
  top: -25px;
  z-index: -1;
  width: 55%;
  height: 350px;
  background-image: url("../../../../assets/style/components/main/images/bg.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: bgAnimation 1.5s ease forwards;
          animation: bgAnimation 1.5s ease forwards;
  opacity: 0;
  transition: opacity 0.3s linear;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@media (max-width: 850px) {
  .main .main-title {
    font-size: 48px;
  }
  .main {
    margin-top: 100px;
    margin-bottom: 400px;
  }
  .main .main-bg {
    width: 100%;
    top: 380px;
    height: 300px;
  }
  .main .main-bg {
    height: 250px;
    top: 380px;
  }
}
@media (max-width: 650px) {
  .main .main-title {
    font-size: 35px;
  }
  .main .main-subtitle {
    font-size: 14px;
    max-width: 200px;
  }
}
@media (max-width: 400px) {
  .main .main-title {
    font-size: 28px;
  }
  .main .main-arrow {
    width: 40px;
  }
  .main .main-bg {
    height: 150px;
    top: 330px;
  }
  .main {
    margin-top: 100px;
    margin-bottom: 300px;
  }
}
.about {
  margin-top: 100px;
}
.about .btn {
  margin-top: 45px;
}

.outsorcing {
  margin-top: 120px;
}

.recruitment {
  margin-top: 120px;
}
.recruitment .btn {
  margin-top: 45px;
}

.creation {
  margin-top: 120px;
}
.creation .background {
  background: url("../style/components/creation/images/bg-2.png");
  padding: 150px 0;
  margin-top: 100px;
}
.creation .background .background-text {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 35px;
}

@media (max-width: 750px) {
  .creation .background .background-text {
    font-size: 25px;
  }
}
@media (max-width: 650px) {
  .creation .background .background-text {
    font-size: 20px;
  }
}
.school .section-inner {
  padding-top: 150px;
}

.map {
  margin-top: 150px;
  transform: translateY(5px);
}

.footer {
  background-color: #111111;
  width: 100%;
}
.footer .footer_inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  font-family: var(--font);
  padding: 50px 0;
}
.footer .footer_inner .column ul {
  list-style: none;
}
.footer .footer_inner .column ul li {
  color: white;
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  .map {
    height: 500px;
  }
  .footer .footer_inner {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 45px;
  }
}
@media (max-width: 550px) {
  .map {
    height: 300px;
  }
}
@media (max-width: 450px) {
  .footer .footer_inner {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */