.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 0 50px;
  padding-top: 25px;
  .right {
    display: flex;
    align-items: center;

    .header-list {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 45px;
      margin-right: 35px;
    }
  }
  &__list-item {
    font-size: 16px;
    font-family: var(--font);
    text-transform: uppercase;
    transition: color var(--transition);
    &:hover {
      color: var(--dark-hover);
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  .line {
    border-top: 2px solid var(--dark);
    width: 34px;
  }
}

@media (max-width: 1400px) {
  .header {
    margin: 0px 5% 0 5%;
  }
  .header-list {
    display: none !important;
  }
  .contact-btn {
    display: none;
  }
  .burger {
    display: flex;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 150px;
  }
}
